* {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
	-webkit-appearance: none;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 0.5em;
  width: 0.5em;
  border-radius: 50em;
  background: url(https://pro.fontawesome.com/releases/v5.10.0/svgs/solid/times-circle.svg) no-repeat 50% 50%;
  background-size: contain;
  opacity: 0;
  pointer-events: none;
}

input[type="search"]:focus::-webkit-search-cancel-button {
  opacity: .3;
  pointer-events: all;
}

input[type="search"].dark::-webkit-search-cancel-button {
  filter: invert(1);
}

.container {
	padding: 5vh 5vh 0 5vh;
}

.topBar a {
	display: inline-block;
	font-size: 1.5vw;
	color: black;
	text-decoration: none;
}

.topBar input {
	margin-top: 5vh;
	width: 100%;
	font-size: 2vw;
	padding-bottom: 1vh;
	border: none;
	border-bottom: 2px solid black;
}

.topBar input:focus {
	outline: none;
}

.navItem {
	font-size: 1vw;
	margin: 2vw 0 0 2vw;
	float: right;
	transition: 0.1s all ease-in-out;
}

.navItem:hover {
	cursor: pointer;
	color: #ff8282;
}

.selector h2 {
	font-size: 1.2vw;
	margin: 3vh 0 3vh 0;
}

.item {
	position: relative;
	display: flex;
	width: 100%;
	margin: 1vh 0 1vh;
	cursor: pointer;
}

.item img {
	float: left;
	width: 4vw;
	height: 30%;
}

.item p {
	margin-left: 1vw;
	align-items: center;
	text-align: left; 
}

.artist {
	position: relative;
	top: 50%;
	transform: translateY(-130%);
	font-size: 0.7vw;
}

.song {
	position: relative;
	top: 50%;
	transform: translateY(-70%);
	font-size: 1.3vw;
	font-weight: 700;
}

.card {
	background: #fff;
	border-radius: 2px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card:hover {
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.icon {
	position: absolute;
	right: 0;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	font-size: 1vw;
	margin-right: 2%;
	float: right;
}

.heart {
	float: right;
	font-size: 2vw;
}

.heart:hover {
	color: #ff8282;
	cursor: pointer;
}

.heart.animate {
	transition: all ease-in-out;
	animation: like 0.15s;
}

.liked {
	color: #ff8282;
}

@keyframes like {
	0% {
		-webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
	}
	50% {
		-webkit-transform: scale(0.5);
        -ms-transform: scale(0.5);
        transform: scale(0.5);
	}
	100% {
		-webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
	}
}

.hidden {
	display: none !important;
}

.songDetails {
	margin-top: 3vh;
	overflow: visible;
}

.albumArtDetail {
	width: 20%;
	height: auto;
	float: left;
	display: inline-block;
}

.songInfo {
	display: block;
	overflow: auto;
}

.songInfo h2 {
	display: inline-block;
	font-weight: 400;
	margin-left: 3vw;
	font-size: 1vw;
}

.songInfo h3 {
	display: inline-block;
	font-weight: 700;
	margin-left: 3vw;
	font-size: 2vw;
}

.songInfo p {
	display: inline-block;
	font-weight: 400;
	margin-left: 3vw;
	font-size: 1vw;
}

.songInfo table {
	display: inline-block;
	margin: 5vh 0 0 3vw;
}

.songInfo table tr {
	margin-right: 10vw;
}

.songInfo table td {
	margin-top: 1vh;
	padding-right: 3vw;
	font-weight: 400;
	font-size: 1vw;
}

.songAnalysis {
	margin-top: 3vh;
}

.songAnalysis h4 {
	margin-bottom: 1.5vh;
	font-size: 1.2vw;
}

.songAnalysis table td {
	margin-top: 1vh;
	padding-right: 3vw;
	font-weight: 400;
	font-size: 1vw;
}

.recommended {
	margin-top: 3vh;
}

.recommended h5 {
	font-size: 1.2vw;
	margin: 3vh 0 3vh 0;
}